AZURE_OPENAI_API_KEY=replace_me
AZURE_OPENAI_ENDPOINT=https://admin-1804-resource.cognitiveservices.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview
NEXTGRAPH_BACKEND_HOST=0.0.0.0
NEXTGRAPH_BACKEND_PORT=5191
NEXTGRAPH_FRONTEND_PORT=5174
NEXTGRAPH_CONDA_ENV=nextgraph
NEXTGRAPH_VECTOR_STORE_PROVIDER=tencent
NEXTGRAPH_VECTOR_DB_DATABASE=nextgraph_0603

NEXTGRAPH_TENCENT_VECTORDB_URL=http://172.17.0.98:80
NEXTGRAPH_TENCENT_VECTORDB_USERNAME=root
NEXTGRAPH_TENCENT_VECTORDB_KEY=replace_me
NEXTGRAPH_TENCENT_VECTORDB_DATABASE=bookk255

NO_PROXY=127.0.0.1,localhost,172.17.0.98
no_proxy=127.0.0.1,localhost,172.17.0.98

NEXTGRAPH_MILVUS_URI=http://10.1.80.16:19530
NEXTGRAPH_MILVUS_DB=crx
NEXTGRAPH_MILVUS_TOKEN=

NEXTGRAPH_ENTITIES_COLLECTION=Entities
NEXTGRAPH_RELATIONS_COLLECTION=Relations
NEXTGRAPH_PASSAGES_COLLECTION=Passage
