AZURE_OPENAI_API_KEY=replace_me
AZURE_OPENAI_ENDPOINT=https://admin-1804-resource.cognitiveservices.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview
NEXTGRAPH_MILVUS_URI=http://10.1.80.16:19530
NEXTGRAPH_MILVUS_DB=crx
NEXTGRAPH_ENTITIES_COLLECTION=Entities
NEXTGRAPH_RELATIONS_COLLECTION=Relations
NEXTGRAPH_PASSAGES_COLLECTION=Passage
